version: "3.8"

services:
  mongo-inventory:
    image: mongo:7
    container_name: mongo-inventory
    restart: unless-stopped
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo-inventory-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval","db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5


  mongo-orders:
    image: mongo:7
    container_name: mongo-orders
    ports:
      - "27019:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    volumes:
      - mongo-orders-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5


  inventory-service:
    build: ./inventory-service
    container_name: inventory-service
    ports:
      - "8082:8080"
    environment:
      SPRING_DATA_MONGODB_URI: "mongodb://root:rootpassword@mongo-inventory:27017/inventory?authSource=admin"
    depends_on:
     mongo-inventory:
       condition: service_healthy


  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "8083:8080"
    environment:
      SPRING_DATA_MONGODB_URI: "mongodb://root:rootpassword@mongo-orders:27017/orders?authSource=admin"
    depends_on:
     mongo-orders:
       condition: service_healthy
     inventory-service:
       condition: service_started

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8084:8080"
    environment:
      INVENTORY_URL: http://inventory-service:8080
      ORDER_URL: http://order-service:8080
    depends_on:
      inventory-service:
        condition: service_started
      order-service:
        condition: service_started


volumes:
  mongo-inventory-data:
  mongo-orders-data:






