server:
  port: 8084

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: inventory
          uri: ${INVENTORY_URI:http://localhost:8082}
          predicates:
            - Path=/inventory/**
        - id: orders
          uri: ${ORDER_URL:http://localhost:8083}
management:
  endpoints:
    web:
      exposure:
        include: 'health,info'