server:
  port: 8080

spring:
  application:
    name: order-service
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27019/orders}
      auto-index-creation: true

inventory:
  base-url: ${INVENTORY_BASE_URL:http://localhost:8082}

management:
  endpoints:
    web:
      exposure:
        include: health,info
