server:
  port: 8080

spring:
  application:
    name: inventory-service
  data:
    mongodb:
      uri: ${SPRING_DATA_MONGODB_URI:mongodb://localhost:27017/inventory}
      auto-index-creation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info


