server:
  port: 8082

spring:
  application:
    name: inventory-service
  data:
    mongodb:
      uri: mongodb://root:rootpassword@localhost:27017/inventorydb?authSource=admin
      auto-index-creation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info


