apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
      metadata:
        labels:
          app: api-gateway
      spec:
        containers:
          - name: gateway
            image: api-gateway:1.0
            imagePullPolicy: IfNotPresent
            ports:
              - containerPort: 8080
            env:
              - name: INVENTORY_URL
                valueFrom:
                  configMapKeyRef:
                    name: app-config
                    key: INVENTORY_URL
              - name: ORDER_URL
                valueFrom:
                  configMapKeyRef:
                    name: app-config
                    key: ORDER_URL
            readinessProbe:
              httpGet:
                path: /actuator/health
                port: 8080
              initialDelaySeconds: 15
              periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: ms
spec:
  selector:
    app: api-gateway
  ports:
    - port: 8080
      targetPort: 8080


