apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
  namespace: ms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order
          image: order-service:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATA_MONGODB_URI
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: ORDERS_MONGO_URI
            - name: INVENTORY_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: INVENTORY_BASE_URL
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: ms
spec:
  selector:
    app: order-service
  ports:
    - port: 8080
      targetPort: 8080
